In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
train_dataset =pd.read_csv("train.csv")
train_dataset.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

## Explotary Data Analaysis (EDA)

In [3]:
## Check the information about the training set

In [4]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
## Check the duplicated entries of the training set

In [6]:
train_dataset.duplicated().sum()

0

In [7]:
## Get the value counts of keyword column

In [8]:
train_dataset['keyword'].value_counts()

keyword
fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: count, Length: 221, dtype: int64

In [9]:
## Get the value counts of location column

In [10]:
train_dataset['location'].value_counts()

location
USA                    104
New York                71
United States           50
London                  45
Canada                  29
                      ...
MontrÌ©al, QuÌ©bec       1
Montreal                 1
ÌÏT: 6.4682,3.18287      1
Live4Heed??              1
Lincoln                  1
Name: count, Length: 3341, dtype: int64

In [11]:
train_dataset['location']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
7608    NaN
7609    NaN
7610    NaN
7611    NaN
7612    NaN
Name: location, Length: 7613, dtype: object

In [12]:
## check the null values of the keyword column

In [13]:
train_dataset['keyword'].isnull().sum()

61

In [14]:
## check the null values of the location column

In [15]:
train_dataset['location'].isnull().sum()

2533

In [18]:
## fill the nul values

In [24]:
 train_dataset['location'].fillna('Canada', inplace=True)
 train_dataset['keyword'].fillna('radiation%20emergency', inplace=True)

In [25]:
train_dataset.head()

,id,keyword,location,text,target
0,1,radiation%20emergency,Canada,Our Deeds are the Reason of this #earthquake M...,1
1,4,radiation%20emergency,Canada,Forest fire near La Ronge Sask. Canada,1
2,5,radiation%20emergency,Canada,All residents asked to 'shelter in place' are ...,1
3,6,radiation%20emergency,Canada,"13,000 people receive #wildfires evacuation or...",1
4,7,radiation%20emergency,Canada,Just got sent this photo from Ruby #Alaska as ...,1

In [26]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7613 non-null   object
 2   location  7613 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [ ]:
## Check the correlational coefficiency

In [ ]:
train_data_corr =train_dataset.corr()
train_data_corr